body,html{
    font-family:Roboto,sans-serif;
    color:#333;
    background-color:#f1f2f6;
    padding:0;
    margin:0;
}


h1, h3{
    text-align: center;
}

h1{
    margin-top: 25%;    
}

h1 > img {
    width: 3%;
}